body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "OneMobilePOP";
  src: local("OneMovilePOP"),
    url("./assets/fonts/ONEMobilePOP.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: local("NanumSquareNeo"),
    url("./assets/fonts/NanumSquareNeo-aLt.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: local("NanumSquareNeo"),
    url("./assets/fonts/NanumSquareNeo-bRg.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: local("NanumSquareNeo"),
    url("./assets/fonts/NanumSquareNeo-cBd.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: local("NanumSquareNeo"),
    url("./assets/fonts/NanumSquareNeo-dEb.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: local("NanumSquareNeo"),
    url("./assets/fonts/NanumSquareNeo-eHv.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "PyeongChangPeace";
  src: local("PyeongChangPeace"),
    url("./assets/fonts/PyeongChangPeace-Light.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PyeongChangPeace";
  src: local("PyeongChangPeace"),
    url("./assets/fonts/PyeongChangPeace-Bold.ttf") format("truetype");
  font-weight: bold;
}
