body {
  font-family: "NanumSquareNeo";
  height: 100vh;
  width: 100%;
}

.block {
  border-color: white;
  border-radius: 5px;
}

.textDefault {
  color: white;
}

.textDark {
  color: #a0a0a0;
}

.headerImg {
  width: 100%;
}

.select {
  margin: 10px;
}

/* 큰 제목 '연습 문제 풀기' */
.title {
  position: absolute;
  left: 50%;
  font-size: 25px;
  transform: translate(-50%, 100px);
}
/* 작은 크기일 때 */
@media (max-width: 770px) {
  .title {
    position: absolute;
    left: 50%;
    font-size: 15px;
    transform: translate(-50%, 70px);
  }
}
/* 큰 크기일 때 */
@media (min-width: 980px) {
  .title {
    position: absolute;
    top: 0%;
    font-size: 45px;
    transform: translate(-50%, 200px);
  }
}

.bodyblock {
  position: relative;
  top: 30%;
  transform: translate(0%, -10%);
}
/* 작은 크기일 때 */
@media (max-width: 770px) {
  .bodyblock {
    transform: translate(0%, -2%);
  }
}

.modeSelector {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

.border {
  color: white;
}

/*  연습 문제 목록 */
.problems {
  height: 100%;
  width: 100%;
  color: white;
}

/* 페이지네이션 커스텀 */
.ant-pagination .ant-pagination-item-active {
  border: none;
  background-color: #1d1e22;
}

h1 {
  color: white;
  position: relative;
  transform: translate(0%, -40%);
  z-index: 111;
}

h2 {
  color: white;
  margin: 10px;
}

h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

hr {
  border: 0;
  width: 100%;
  height: 0.7px;
  background: white;
}

p {
  font-family: "NanumNeoSquare";
  margin: 5px;
}
