.result_background {
  height: 100vh;
  background: url(/src/assets/result_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow-y: scroll;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.result_list_wrap {
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto 0;
  height: 50vh;
}

.result_game_mode {
  font-family: "PyeongChangPeace";
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.result_icon_vs {
  margin-left: -6px;
}

.result_user_info {
  margin-top: 3px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  background-color: #5cfdfd;
}

.result_enemy_info {
  margin-top: 22px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background-color: #fef15d;
}

.result_list_circle_user {
  padding-left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #5cfdfd;
}

.result_list_circle_enemy {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fef15d;
}

.resut_list_info_wrap > div {
  float: left;
}
