.fullmiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: rgb(9, 9, 11);
    position: relative;
    width: 100%;
    height: 100vh;
}

.bgvideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
}

.battleStart {
    position: relative;
    top: 45%;
    width: 20%;
    background-color: #fff0DC;
}

.NanumSquare {
    font-family: "NanumSquareNeo";
    font-weight: 400;
    size: 32px;
}

.PyeongChangPeace {
    font-family: "PyeongChangPeace";
    font-weight: bold;
    size: 32px;
}

.mainh1 {
    font-family: "PyeongChangPeace";
    position: relative;
    top: 35%;
    width: 30%;
    text-align: center;
    background: linear-gradient(180deg, #E51C29 2.4%, #FAC557 29.48%, #FAC557 81.56%, rgba(255, 255, 255, 0.348958) 99.999%, rgba(255, 255, 255, 0) 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.gradientBox {
    position: relative;
    top: 45%;
    width: 100vw;
    height: 35%;
    vertical-align: bottom;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #14161A 65.17%);
}

.todaysRanking {
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
}

.speedRanking {
    background: linear-gradient(180deg, #E51C29 0.31%, #FAC557 6.48%, #FCD351 65.94%, rgba(253, 225, 75, 0.27) 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.efficiencyRanking {
    background: linear-gradient(180deg, #0359D9 0%, #7AF7F8 6.31%, #5CFDFD 64.37%, rgba(92, 253, 253, 0.09) 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.Circle {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.firstUser {
    border: 4px solid goldenrod;
}

.secondUser {
    border: 4px solid silver;
}

.thirdUser {
    border: 4px solid brown;
}